// @import "packages/reveal-js/reveal.js/css/theme/night.css";

.reveal {
	background: black;
	height: 100%;
	overflow: hidden;

	.test-input
	{
		font-size: 2em;
		padding: 1em;
		margin-top: 15px;
	}
}