<template name="dashboardSidebar">
	<aside class="left-side sidebar-offcanvas">
		<section class="sidebar">	
			<div class="sidebar-scroll">
					<h4 class="text-center" id="hidden-logo">Vocab.li</h4>
					{{#with Language}}
					<ul class="sidebar-menu">
						<li>
							<a href="{{pathFor 'language' username=username language=string}}">
								<i class="fa fa-circle"></i> Dashboard
							</a>
						</li>
					<li class="all">
						<a href="{{pathFor 'words' username=username language=string}}">
							<i class="fa fa-circle-o"></i> All <span class="pull-right">({{wordCount string false}})</span>
						</a>
					</li>
					<li class="treeview active">
							<a href="#">
								<i class="fa fa-clock-o"></i> <span>Recent</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
		   						{{#each dayCombinations}}
		   						{{#if App.wordsByDate this.[0] this.[1]}}
			   						<li class="recent">
			   							<a href="{{pathFor 'time' username=username language=language start=this.[0] end=this.[1]}}">
			   								<i class="fa fa-angle-double-right"></i> {{this.[2]}} <span class="pull-right">({{wordsByDateLength this.[0] this.[1]}})</span>
			   							</a>
			   						</li>
			   						{{/if}}
		   						{{/each}}
							</ul>
						</li>
						<li class="treeview active">
							<a href="#">
								<i class="fa fa-dot-circle-o"></i> <span>Sets</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
							   {{#each getSets string}}
		   						<li class="set">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> {{name}} <span class="pull-right">({{wordCount ../string _id}})</span>
		   							</a>
		   						</li>
		   						{{/each}}
							</ul>
						</li>
						<!-- <li class="treeview active">
							<a href="#">
								<i class="fa fa-bullseye"></i> <span>Watching</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
							   {{#each getSets string}}
		   						<li class="watching">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> {{name}} <span class="pull-right">({{wordCount ../string _id}})</span>
		   							</a>
		   						</li>
		   						{{/each}}
		   						<li class="watching">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> Find sets
		   							</a>
		   						</li>
							</ul>
						</li> -->

						<!-- <li class="treeview">
							<a href="#">
								<i class="fa fa-bar-chart-o"></i>
								<span>Stats</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
								<li><a href="#">Coming soon</a></li>
							</ul>
						</li> -->
			<!-- 					<li>
							<a href="#">This week</a>
						</li>
						<li>
							<a href="#">This month</a>
						</li> -->
					</ul>
					{{/with}}
					<!-- <li class="treeview">
						<a href="#">
							<i class="fa fa-{{this.icon}}"></i>
							<span>{{this.label}}</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-double-right"></i> New</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right"></i> View All</a></li>
						</ul>
					</li> --></div>
		</section>
	</aside>
</template>


<!-- search form -->
<!-- <form class="sidebar-form">
	<div class="input-group">
		<input type="text" id="search" name="q" class="form-control" placeholder="Search..."/>
		<span class="input-group-btn">
			<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
		</span>
	</div>
</form> -->