<template name="dashboardSidebar">
	<aside class="left-side sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">	
				<!-- search form -->
				<!-- <form class="sidebar-form">
					<div class="input-group">
						<input type="text" id="search" name="q" class="form-control" placeholder="Search..."/>
						<span class="input-group-btn">
							<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form> -->
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
					<!-- <li>
						<a href="{{pathFor 'dashboard' username=username}}">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li> -->
			<div class="sidebar-scroll">	
					{{#with Language}}
					<ul class="sidebar-menu">
						<li>
							<a href="{{pathFor 'language' username=username language=string}}">
								<i class="fa fa-circle"></i> Dashboard
							</a>
						</li>
					<li class="all">
						<a href="{{pathFor 'words' username=username language=string}}">
							<i class="fa fa-circle-o"></i> All <span class="pull-right">({{wordCount string false}})</span>
						</a>
					</li>
					<li class="treeview active">
							<a href="#">
								<i class="fa fa-clock-o"></i> <span>Recent</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
		   						{{#each dayCombinations}}
		   						{{#if App.wordsDaysAgo this.[0] this.[1]}}
			   						<li class="recent">
			   							<a data-date="{{dateDaysAgo this.[0]}}">
			   								<i class="fa fa-angle-double-right"></i> {{this.[2]}} <span class="pull-right">({{wordsDaysAgoLength this.[0] this.[1]}})</span>
			   							</a>
			   						</li>
			   						{{/if}}
		   						{{/each}}
							</ul>
						</li>
						<li class="treeview active">
							<a href="#">
								<i class="fa fa-dot-circle-o"></i> <span>Sets</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
							   {{#each getSets string}}
		   						<li class="set">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> {{name}} <span class="pull-right">({{wordCount ../string _id}})</span>
		   							</a>
		   						</li>
		   						{{/each}}
							</ul>
						</li>
						<li class="treeview active">
							<a href="#">
								<i class="fa fa-bullseye"></i> <span>Watching</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
							   {{#each getSets string}}
		   						<li class="watching">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> {{name}} <span class="pull-right">({{wordCount ../string _id}})</span>
		   							</a>
		   						</li>
		   						{{/each}}
		   						<li class="watching">
		   							<a href="{{pathFor 'set' username=username language=language set=name}}">
		   								<i class="fa fa-angle-double-right"></i> Find sets
		   							</a>
		   						</li>
							</ul>
						</li>

						<!-- <li class="treeview">
							<a href="#">
								<i class="fa fa-bar-chart-o"></i>
								<span>Stats</span>
								<i class="fa pull-right fa-angle-down"></i>
							</a>
							<ul class="treeview-menu" style="display: block;">
								<li><a href="#">Coming soon</a></li>
							</ul>
						</li> -->
			<!-- 					<li>
							<a href="#">This week</a>
						</li>
						<li>
							<a href="#">This month</a>
						</li> -->
					</ul>
					{{/with}}
					<!-- <li class="treeview">
						<a href="#">
							<i class="fa fa-{{this.icon}}"></i>
							<span>{{this.label}}</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-double-right"></i> New</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right"></i> View All</a></li>
						</ul>
					</li> --></div>
		</section>
	</aside>
</template>