<template name="dashboardSidebar">
	<aside class="left-side sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">	
				<!-- search form -->
				<!-- <form class="sidebar-form">
					<div class="input-group">
						<input type="text" id="search" name="q" class="form-control" placeholder="Search..."/>
						<span class="input-group-btn">
							<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form> -->
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
					<!-- <li>
						<a href="{{pathFor 'dashboard' username=username}}">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li> -->
					{{#if Language}}
					<p class="text-center">
						<a class="btn btn-primary" href="{{pathFor 'addL' username=username language=language}}">
						    <span><i class="fa fa-plus"></i> Add words</span>
						</a>
					</p>
					{{/if}}
			<div class="sidebar-scroll">	
					{{#with Language}}
					<ul class="sidebar-menu">
						<li>
							<a href="{{pathFor 'language' username=username language=string}}">
								Dashboard
							</a>
						</li>
					</ul>
					<ul class="sidebar-menu">
						<li>
							<a href="#">All</a>
						</li>
						<li>
							<a href="#">Today</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
						<li>
							<a href="#">Yesterday</a>
						</li>
			<!-- 					<li>
							<a href="#">This week</a>
						</li>
						<li>
							<a href="#">This month</a>
						</li> -->
					</ul>
					<h4 class="text-center">Sets</h4>	
					<ul class="sidebar-menu">
						<li class="all">
							<a href="{{pathFor 'words' username=username language=string}}">
								<i class="fa fa-angle-double-right"></i> All <span class="pull-right">({{wordCount string false}})</span>
							</a>
						</li>
						{{#each getSets string}}
						<li class="set">
							<a href="{{pathFor 'set' username=username language=language set=name}}">
								<i class="fa fa-angle-double-right"></i> {{name}} <span class="pull-right">({{wordCount ../string _id}})</span>
							</a>
						</li>
						{{/each}}
					</ul>
					{{/with}}
					<!-- <li class="treeview">
						<a href="#">
							<i class="fa fa-{{this.icon}}"></i>
							<span>{{this.label}}</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-double-right"></i> New</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right"></i> View All</a></li>
						</ul>
					</li> --></div>
		</section>
	</aside>
</template>