a
{
	cursor: pointer;
}

.addType.active
{
	color: black !important;

	&:hover
	{
		color:black !important;
	}
}

.sidebar-menu
{
	li.set, li.all
	{
		margin: 0 1px;
		background: #f9f9f9;
		margin-right: 1px !important;
	}
}

.test-button
{
    float: right;
    position: relative;
    bottom: 32px;
}

#test-modal
{
	.question
	{
		text-align:center;
		font-size:3em;
	}
}