a
{
	cursor: pointer;
}

.addType.active
{
	color: black !important;

	&:hover
	{
		color:black !important;
	}
}

.sidebar-menu
{
	li.set, li.all
	{
		margin: 0 1px;
		background: #f9f9f9;
		margin-right: 1px !important;
	}
}

.test-button
{
    float: right;
    position: relative;
    bottom: 32px;
}

#test-modal
{
	.question
	{
		text-align:center;
		font-size:3em;
	}
}

#multiple-controls
{
	position: fixed;
	bottom: -50px;
	right:20px;
	width:200px;
	transition-duration: 0.5s;

	&.selection
	{
		bottom:25px;
	}

	.dropdown.dropup
	{
		display: inline-block;
	}
}

.admin-layout .dropup.open > .dropdown-menu
{
	-webkit-animation:none !important;
	animation:none !important;
}

.select-all, .select-word
{
	cursor: pointer;
}


.table-wordlist
{
	font-size: 20px;

	&>tbody>tr>td, &>tbody>tr>th
	{
		padding: 20px 16px;
	}
}

.admin-layout .skin-blue .left-side {
	background: transparent;
}

.admin-layout .left-side {
	position: absolute;
	width: 300px;
	top: 0;
}


.admin-layout .right-side {
	background-color: #f9f9f9;
	margin-left: 300px;
}

.btn
{
	&.btn-primary
	{
		color:white !important;
	}
}

.table-wordlist tr:first-child td {
	border-top: none;
}