<template name="test">
	<div class="reveal">
	    <div class="slides">
<!-- 	        <section>Single Horizontal Slide</section>
	        <section>
	            <section>Vertical Slide 1</section>
	            <section>Vertical Slide 2</section>
	        </section> -->
			{{#each $.Session.get 'Testing'}}
				<section>
					{{> testPrompt }}
					{{#if $.Session.get 'multiple'}}
					{{> testMultipleChoice}}
					{{else}}
					{{> testInput}}
					{{/if}}
				</section>
			{{/each}}				
	    </div>
	</div>
</template>




<template name="testButton">
	{{#if Testing}}
	<a class="{{class}} test-button" data-toggle="modal" href='#test-modal'>Test</a>
	{{/if}}
</template>

<template name="testPrompt">
	<h1 class="question {{#if $.Session.equals 'correct' true}}text-success{{/if}}{{#if $.Session.equals 'correct' false}}text-danger{{/if}}">
	{{#if $.Session.equals 'prompt' 'target'}}
	{{target}}
	{{else}}
	{{source}}
	{{/if}}
	</h1>
</template>

<template name="testInput">
	<div class="input-group">
		<input type="text" name="source" id="test-input" class="form-control test-input" placeholder="{{#if $.Session.equals 'prompt' 'target'}}Type the English{{else}}Type the TARGET LANGUAGE{{/if}}">
    </div>
    {{#if $.Session.get 'test_input'}}
		<button class="btn btn-default" id="test-input-confirm" type="button">Go</button>
		{{else}}
		<button class="btn btn-default" id="test-input-skip" type="button">Skip</button>
	{{/if}}
</template>

<template name="testMultipleChoice">
	<p class="text-center">
		{{#each $.Session.get 'Multiples'}}
			<button class="btn btn-default test-multiple-answer" value="{{#if $.Session.equals 'prompt' 'target'}}{{source}}{{else}}{{target}}{{/if}}">
			{{#if $.Session.equals 'prompt' 'target'}}
			{{source}}
			{{else}}
			{{target}}
			{{/if}}
			</button>
		{{/each}}
	</p>
</template>