<template name="test">
	<div id="test-index">{{$.Session.get 'test_index'}}</div>
	<div class="reveal">
	    <div class="slides">
<!-- 	        <section>Single Horizontal Slide</section>
	        <section>
	            <section>Vertical Slide 1</section>
	            <section>Vertical Slide 2</section>
	        </section> -->
<!-- 			{{#each $.Session.get 'Testing'}}
				{{#if $lt level 1}}
				<section>
					{{> testCard}}
				</section>
				{{/if}}
			{{/each}} -->
			{{#each $.Session.get 'Testing'}}
				<section class="{{#if $.Session.equals 'correct' true}}correct{{/if}}{{#if $.Session.equals 'correct' false}}incorrect{{/if}}">
					<section>
						{{> testPrompt }}
						{{> testInput}}
					</section>
					<section>
						{{> testPrompt }}
						{{> testMultipleChoice}}
					</section>
					<section>
						{{> testCard}}
						<p class="text-center">
							<a class="btn btn-primary btn-lg accept-incorrect">Next</a>
						</p>
					</section>
				</section>
			{{/each}}
			<section>
				<h3>End of test</h3>
				<table>
						<!-- <thead>
							<tr>
								<th>Item</th>
								<th>Value</th>
								<th>Quantity</th>
							</tr>
						</thead> -->
						<tbody>
						{{#each $.Session.get 'Testing'}}
							<tr>
								<td>{{target}}</td>
								<td>{{transliteration}}</td>
								<td>{{source}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
<!-- 				{{#each $.Session.get 'Testing'}}
				<div class="col-md-3">
					{{> testPrompt }}
				</div>
				{{/each}} -->
				<p><a href="{{pathFor 'dashboard' username=username}}" class="btn btn-lg btn-primary">Go home</a></p>
			</section>			
	    </div>
	</div>
</template>


<template name="testCard">
	<h1>{{source}}</h1>
	<h2>{{transliteration}}</h2>
	<h1>{{target}}</h1>
</template>

<template name="testButton">
	{{#if Testing}}
	<a class="{{class}} test-button" data-toggle="modal" href='#test-modal'>Test</a>
	{{/if}}
</template>

<template name="testPrompt">
	<h1 class="question {{#if $.Session.equals 'correct' true}}text-success{{/if}}{{#if $.Session.equals 'correct' false}}text-danger{{/if}}">
	{{#if $.Session.equals 'prompt' 'target'}}
	{{target}}
	{{else}}
	{{source}}
	{{/if}}
	</h1>
</template>

<template name="testInput">
	<input type="text" name="source" class="form-control test-input session-set" key="test_input" placeholder="{{#if $.Session.equals 'prompt' 'target'}}Type the English{{else}}Type the TARGET LANGUAGE{{/if}}">
   <div class="test-buttons">
   			<a class="test-input-skip">
   				{{#if $.Session.get 'test_input'}}
   				Submit
   				{{else}}
   				Skip
   				{{/if}}
   			</a>
   	</div>
</template>

<template name="testMultipleChoice">
	<p class="text-center">
		{{#each $.Session.get 'Multiples'}}
			<button class="btn btn-default test-multiple-answer" value="{{#if $.Session.equals 'prompt' 'target'}}{{source}}{{else}}{{target}}{{/if}}">
			{{#if $.Session.equals 'prompt' 'target'}}
			{{source}}
			{{else}}
			{{target}}
			{{/if}}
			</button>
		{{/each}}
	</p>
</template>