<template name="dashboardWelcome">
	<div class="col-md-12">
	{{#if Words}}
	{{else}}
	<div class="alert alert-success">
		<h2>Welcome to {{Config.name}}</h2>
		<p>Mem Mem is a lightweight application to organise and store all of your <strong>foreign language vocabulary</strong>.</p>
	</div>
	{{/if}}
	</div>
</template>

<template name="dashboardLanguages">
	{{#each Learning}}
		<div class="col-lg-3 col-md-4 col-sm-6">
			<a href="{{pathFor 'language' username=username language=string}}">
				<div class="small-box bg-aqua">
					<div class="inner">
	                    <h3>
	                        {{wordCount string false}}
	                    </h3>
	                    <p>
	                        {{name}}
	                    </p>
	                </div>
	                <div class="icon">
		                <i class="fa fa-comment"></i>
	                </div>
				</div>
			</a>
		</div>
		{{/each}}
</template>

<template name="dashboardRecent">
	{{#if Recent}}
	<div class="col-md-12">
		<h3>Recently added</h3>
		{{> words wordList=Recent}}
	</div>
	{{/if}}
</template>