<template name="dashboardWelcome">
	<div class="col-md-12">
	{{#if Words}}
	{{else}}
	<div class="box box-solid box-success" id="welcome-box">
		<div class="box box-solid box-success">
			<div class="box-header">
				<h3 class="box-title">Getting started with {{Config.name}}</h3>
				<div class="box-tools pull-right">
				</div>
			</div>
			<div class="box-body">
				<p>{{Config.name}} is a lightweight application to organise and store all of your <strong>foreign language vocabulary</strong>.</p>

				<ul style="list-style:none;">
					<li><i class="fa fa-plus fa-fw"></i> Add some words</li>
					<li><i class="fa fa-plus fa-fw"></i> Test yourself</li>
					<li><i class="fa fa-plus fa-fw"></i> Give some feedback <a href="http://twitter.com/BenPeterJones">@BenPeterJones</a>!</li>
				</ul>
			</div> 
		</div>
	</div>
	{{/if}}
	</div>
</template>

<template name="dashboardLanguages">
	{{#each Learning}}
		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="{{pathFor 'language' username=username language=string}}">
				<div class="small-box">
					<div class="inner">
	                    <h3>
	                        {{wordCount string false}}
	                    </h3>
	                    <p>
	                        {{name}}
	                    </p>
	                </div>
	                <div class="icon">
		            	{{> flag country=country}}
	                </div>
				</div>
			</a>
		</div>
		{{/each}}
</template>

<template name="dashboardRecent">
	{{#if Recent}}
	<div class="col-md-12">
		<h4>Recently added</h4>
		{{> words wordList=Recent}}
	</div>
	{{/if}}
</template>